@import "tailwindcss";

@theme {
  --color-primary: #0084ff;
  --color-secondary: #0056b3;
  --font-cairo: "Cairo", sans-serif;
}

* {
  font-family: "Cairo", sans-serif;
}

body {
  background-color: #ffffff;
  color: #1a202c;
}

html {
  scroll-behavior: smooth;
}
